<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Landing page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/ragin.css}" href="../static/css/ragin.css"   />
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">ragin.org</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Logviewer</h1>
        <h2>
            <span th:text="'Logviewer landing page' "></span>
        </h2>

        <h3 th:text="#{select_route}">Select one of the implemented routes below now</h3>

        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/">/ </a>
                </div>
                <div class="col">
                    main page
                </div>
                <div class="col">
                    tbd.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/randomPerson">/randomPerson </a>
                </div>
                <div class="col">
                    random user welcome
                </div>
                <div class="col">
                    tbd.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/xcf">/xcf </a>
                </div>
                <div class="col">
                    error page
                </div>
                <div class="col">
                    tbd.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/log">/log </a>
                </div>
                <div class="col">
                    Log file viewer
                </div>
                <div class="col">
                    t.b.d.
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/h2-console/" target="_blank">/h2-console/ </a>
                </div>
                <div class="col">
                    H2 console from developer-tools
                </div>
                <div class="col">
                    tbd.
                </div>
            </div>
        </div>

        <br>

    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>